<%- include("layout/header") -%>

<table class="doctor-enter-code-table table container">
  <thead>
    <tr>
      <th scope="col">اسم الطبيب</th>
      <th scope="col">التخصص</th>
      <th scope="col">تاريخ الولادة</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% doctors.forEach(data => { %>
      <tr>
      <th scope="row"><%= data.name%></th>
      <td><%= data.DoctorCategort%></td>
      <td><%= data.born%></td>
      <td><button onclick="window.location.href='/admin/doctors/<%= data.id%>/add'" class="btn btn-success">تعديل او اضافة تخصص</button></td>
      <td><button onclick="window.location.href='/admin/secretary/<%= data.id%>/register'" class="btn btn-primary">تعيين سكرتير</button></td>
    </tr>
    <% }) %>
  </tbody>
</table>

<%- include("layout/footer") -%>