<%- include("layout/header") -%>

<center><div class="secretary-btns">
    <button onclick="window.location.href='/secretary/orders'" class="btn btn-primary">الحجوزات المقدمة</button>
    <button onclick="window.location.href='/secretary/orders/new'" class="btn btn-warning">اضافة حجز</button>
</div></center>

<table class="table container">
  <thead>
    <tr>
      <th scope="col">الاسم</th>
      <th scope="col">الكود</th>
      <th scope="col">اسم الطبيب</th>
      <th scope="col">الموعد</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% orders.forEach(data => { %>
      <tr>
      <th scope="row"><%= data.name%></th>
      <td><%= data.username%></td>
      <td><%= data.doctor_name%></td>
      <td><%= data.order_date%></td>
      <td><form action="/secretary/orders/<%= data.username%>/delete?_method=DELETE" method="POST">
          <button class="btn btn-danger">انتهى</button>
      </form></td>
    </tr>
    <% }) %>
  </tbody>
</table>

<%- include("layout/footer") -%>