<%- include("layout/header") -%>

<table class="table container">
  <thead>
    <tr>
      <th scope="col">الاسم</th>
      <th scope="col">الكود</th>
      <th scope="col">اسم الطبيب</th>
      <th scope="col">تاريخ التقديم</th>
      <th scope="col">تحديد موعد</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% orders.forEach(data => { %>
      <tr>
      <th scope="row"><%= data.name%></th>
      <td><%= data.username%></td>
      <td><%= data.doctor_name%></td>
      <td><%= data.Date%></td>
      <td><form action="/secretary/orders/<%= data.username%>?_method=PUT" method="POST">
          <input type="date" name="order_date" value="">
          <button class="btn btn-success">حجز</button>
      </form></td>
    </tr>
    <% }) %>
  </tbody>
</table>

<%- include("layout/footer") -%>